POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespwd
PGADMIN_EMAIL=postgres@example.com
PGADMIN_PASSWORD=postgres
SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=localhost:9092